.results {

    .no-of-participants {
        font-size: 115%;
        padding: 1rem 1.5rem;
        background: var(--primary-light);
        border-radius: var(--border-radius-big);
    }

    .question {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
}